:root{
    --primary-color:rgb(228, 6, 6);
    --secondary-color:antiquewhite;
    --animate-speed: 1s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background: url('photo/background.jpg') no-repeat center center/cover;
    font-family: 'Press Start 2P', cursive;
}

h1,h2,h3,h4,p{
    color: var(--secondary-color);
}

/* Header */
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1250px;
    
    margin: auto;
}
.menu-logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    align-items: center;
    color: rgb(221, 212, 200);
}

.menu-logo i {
    color:var(--primary-color);
}

.menu-logo nav ul{
    list-style-type: none;
    margin-right: 2rem;
    color: var(--secondary-color);
    display: flex;
}
.menu-logo nav li{
    padding: 1rem;
}


.menu-logo nav li:hover{
    color: var(--primary-color);
    cursor: pointer;
}
/* Main */
.container{
    height: 100vh;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.container h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container h3{
    font-size: 3rem;
    padding: 1rem 0;
}
.container p{
    padding: 1rem;
}
/* BTN */
.btn{
    overflow: hidden;
    margin-top: 1rem;
    position: relative;
    padding:10px 30px;
    background:var(--primary-color);
    border-radius: 6px;
    font-size: 1.2rem;
    color:var(--secondary-color);
    cursor: pointer;
    transition: background-color .7s ease-in-out;
    z-index: 1;


}

.btn::after{
    content:'';
    z-index: -1;
    position: absolute;
    width: 140px;
    height: 46px;
    top: 0;
    right: -200%;
    background-color:var(--secondary-color);
    transition: 1s ease-out;

}
.btn::before{
    content:'';
    z-index: -1;
    position: absolute;
    width: 140px;
    height: 46px;
    top: 0;
    left: -200%;
    background-color:var(--secondary-color);
    transition: 1s ease-out;

}

.btn:hover{
    color: var(--primary-color);
}
.btn:hover::after{
    transform: translate(-150%);
}
.btn:hover::before{
    transform: translate(150%); 
}


/* From */

.container form{
    display: flex;
    color: var(--secondary-color); 
    flex-direction: column;
}

.container form input, textarea{
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 4px;
    border-radius: 2px;
}


.finish-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    border: 4px solid var(--secondary-color);
    border-radius: 6px;
}
/* Article */
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 1200px;
    margin: auto;
}

.slide-one , .slide-two{
    background-color: #333;
    border-radius: 6px;
    margin: 2px;
    display: flex;
}


.photo{
    width: 50%;
    height: 100%;
    border-radius: 6px;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.info{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 0.5rem;
}

.info h4{
    font-size: 1rem;
    padding: 0.2rem;
}

.info p{
    font-size: 0.8rem;
}

.hidden{
    display: none;
}

/* animation */
.one{
    transform: rotateX(0);
    animation: one 2s;
    animation-direction: 1s;
}
@keyframes one {
    0% {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(50deg);
    }
    100%{
        transform: rotateX(0);
    }
  }
  .show-one{
        transform: translateX(0px);
        animation:show var(--animate-speed) forwards ease-in;
  }
    .show-two{
        
        transform: translateX(0px);
        animation:show var(--animate-speed) forwards ease-in;
    }
    .show-three{
        transform: translateY(0px);
        animation:showTwo var(--animate-speed) forwards ease-in;
    }
    .hidden-one{
        transform: translateX(-1000px);
        animation:show var(--animate-speed) forwards ease-in;
    }
    .hidden-two{
        transform: translateX(1000px);
        animation:show var(--animate-speed) forwards ease-in;
    }
    .hidden-three{
        transform: translateY(-1000px);
        animation:showTwo var(--animate-speed) forwards ease-in;
    }
    @keyframes show{
        to{
            transform: translateX(0);
        }
    
    }
    @keyframes showTwo{
        to{
            transform: translateY(0);
        }
    
    }
/* mobile */
@media(max-width: 768px){
body{
    height: 100%;
    background: url('photo/background.jpg') no-repeat center center/cover;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-logo{
    display: flex;
    flex-direction: column;
}
    .container{
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container form{
    margin-top: 2rem;
    width: 100%;
    
}

.grid{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
}

.slide-one, .slide-two{
    width: 100%;
    flex-direction: column;
}

.photo, .info{
    width: 100%;
}
#about{
    height: 100%;
}

.hidden{
    display: none;
}
}